### IntelliJ IDEA ###
/.idea
/build

### Gradle ###
/.gradle
/gradle
/notifications/config.json
gardlew
gradlew.bat
settings.gradle

### Java ###
*.class

### Owner ###
local.properties
remote.properties